.sm-disp {
    display: none;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.place-center {
    place-content: center;
}

.m-nav {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem !important;
}

.flex-right {
    justify-content: right;
}

.flex-left {
    justify-content: left;
}

.flex-grow-left {
    flex-grow: 1;
}

.flex-grow-right {
    flex-grow: 1;
}

@media only screen and (max-width: 996px) {
    .w-full {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .sm-disp {
        display: unset;
    }

    .md-disp {
        display: none;
    }
}