:root {
    --doc-sidebar-width: 350px;
    --ifm-global-radius: 0.5rem;
    --ifm-card-border-radius: 0.5rem;
    --xb__white: #ffffff;
    --xb__gray: #999999;
    --xb__accent: #01c29a;
    --xb__note: #0084ee;
    --xb__tip: var(--xb__accent);
    --xb__caution: #ffe43a;
    --xb__danger: #ff4353;
    --xb__background: #121418;
    --xb__background-alt: #1b1f24;
    --xb__background-sidebar: var(--xb__background);
    --xb__border-and-line-seperator: #282a2e;
    --xb__highlight: #ffffff22;
    --xb__highlight-and-line-seperator-code-block: #44475a;
    --xb__codeblock-line-attention-bg: #303240;
    --xb__menu-item__interact: var(--xb__background-alt);
    --xb__scrollbar__default: var(--xb__background-alt);
    --xb__scrollbar__interact: #23272e;
    --xb__menu-scrollbar__default: var(--xb__scrollbar__default);
    --xb__menu-scrollbar__interact: var(--xb__scrollbar__interact);
    --xb__transparent: transparent;
    --ifm-navbar-link-hover-color: var(--xb__accent);
    --ifm-color-primary: var(--xb__accent);
    --ifm-scrollbar-track-background-color: var(--xb__transparent);
}

html {
    background-color: var(--xb__background);
    color: var(--xb__white);
}

.navbar__link {
    color: var(--xb__white);
}

.container {
    margin: 0;
    max-width: 100%;
}

.dropdown__menu {
    background-color: var(--xb__background);
    border: 1px solid var(--xb__border-and-line-seperator);
}

::selection {
    background: var(--xb__highlight);
}

::-moz-selection {
    background: var(--xb__highlight);
}

a {
    color: var(--xb__accent);
}

a:hover {
    color: var(--xb__accent);
}

.menu__link {
    color: var(--xb__white);
}

.menu__link--active {
    color: var(--xb__accent);
    background-color: var(--xb__menu-item__interact);
}

.menu__link--active:hover,
.menu__link--active:active {
    color: var(--xb__accent);
    background-color: var(--xb__menu-item__interact);
}

.footer {
    background: var(--xb__transparent);
    border-top: 1px solid var(--xb__border-and-line-seperator);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer__copyright {
    display: flex;
    color: var(--xb__gray);
}

.navbar {
    background-color: var(--xb__background);
    border-bottom: 1px solid var(--xb__border-and-line-seperator);
    margin-bottom: 1em;
}
